* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(206, 204, 204);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
p,
span,
option {
  color: black;
  font-style: italic;
}

i,
svg {
  pointer-events: none;
}

button {
  background: #dde1ef;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
