.kick-pad,
.snare-pad,
.hihat-pad,
.clap-pad,
.tom-pad,
.shaker-pad,
.perc-pad {
  width: 6rem;
  height: 4rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(255, 175, 0);
  background: linear-gradient(
    229deg,
    rgba(255, 175, 0, 0.4) 7%,
    rgba(207, 27, 76, 0.4) 51%,
    rgba(196, 34, 173, 0.4) 79%,
    rgba(147, 40, 163, 0.4) 100%
  );
}

.snare-pad {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.5) 0%,
    rgba(253, 187, 45, 0.5) 100%
  );
}

.hihat-pad {
  background: rgb(71, 250, 137);
  background: linear-gradient(
    90deg,
    rgba(71, 250, 137, 0.5) 0%,
    rgba(29, 122, 212, 0.5) 100%
  );
}

.clap-pad {
  background: rgb(185, 71, 250);
  background: linear-gradient(
    212deg,
    rgba(185, 71, 250, 0.5) 0%,
    rgba(160, 99, 229, 0.5) 35%,
    rgba(105, 93, 214, 0.5) 59%,
    rgba(29, 122, 212, 0.5) 100%
  );
}

.tom-pad {
  background: rgb(71, 250, 224);
  background: linear-gradient(
    212deg,
    rgba(71, 250, 224, 0.5) 0%,
    rgba(229, 169, 99, 0.5) 50%,
    rgba(229, 169, 99, 0.5) 56%,
    rgba(29, 212, 148, 0.5) 100%
  );
}
.shaker-pad {
  background: rgb(250, 152, 71);
  background: linear-gradient(
    212deg,
    rgba(250, 152, 71, 0.5) 0%,
    rgba(229, 169, 99, 0.5) 50%,
    rgba(229, 169, 99, 0.5) 56%,
    rgba(72, 29, 212, 0.5) 100%
  );
}
.perc-pad {
  background: rgb(250, 71, 71);
  background: linear-gradient(
    212deg,
    rgba(250, 71, 71, 0.5) 0%,
    rgba(99, 152, 229, 0.5) 50%,
    rgba(99, 229, 131, 0.5) 56%,
    rgba(29, 212, 158, 0.5) 100%
  );
}

.sequence {
  min-height: 100vh;
  @include flex(center, column);
}

.kick-track,
.snare-track,
.hihat-track,
.clap-track,
.tom-track,
.shaker-track,
.perc-track {
  @include flex(center, row);
  width: 70%;
  margin-top: 3rem;
}

.kick,
.snare,
.hihat,
.clap,
.tom,
.shaker,
.perc {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  @include flex(space-around, row);
  flex-wrap: wrap;
  flex: 1;
  margin: 0rem 2rem;
  button {
    padding: 1rem;
    background: rgba(88, 88, 88, 0.5);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 1rem;
  }
}

select {
  flex: 0 1 10rem;
}

.ctrl-header {
  flex: 1;
}

.ctrl-header {
  @include flex(center, row);
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-top: 5rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  width: 10%;
  text-align: center;
}

.pad {
  transition: all 0.5s ease;
}

.tempo {
  margin: 3rem;
  width: 30%;
  input {
    padding: 0.3rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    background: #bfbfbf;
    cursor: pointer;
    border-radius: 1rem;
  }
  p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
  }
}
