@media screen and (max-width: 414px) {
  .kick-track,
  .snare-track,
  .hihat-track,
  .clap-track,
  .tom-track,
  .shaker-track,
  .perc-track {
    width: 100%;
    margin-top: 0;
    @include flex(center, column);
  }

  .kick,
  .snare,
  .hihat,
  .clap,
  .tom,
  .shaker,
  .perc {
    flex: 2 1 5rem;
    align-items: center;
    justify-content: center;
    .pad {
      flex: 1 1 4rem;
    }
  }

  .ctrl-header {
    flex: 1 1 10rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .play {
    margin-top: 2rem;
    width: 80%;
  }
  .tempo-slider {
    width: 80%;
    margin-top: 2rem;
  }

  .controls {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  select {
    margin-bottom: 1rem !important;
    padding: 1rem 5rem;
    flex: 1 1 2rem !important;
  }

  .mute {
    width: 25%;
  }
  h1 {
    margin-top: 1rem;
  }
  .tempo {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .kick-track,
  .snare-track,
  .hihat-track,
  .clap-track,
  .tom-track,
  .shaker-track,
  .perc-track {
    width: 100%;
    margin-top: 0;
    @include flex(center, row);
  }
  select {
    flex: 1 1 50rem;
  }
  .kick,
  .snare,
  .hihat,
  .clap,
  .tom,
  .shaker,
  .perc {
    flex: 2 1 30rem;
  }
  .play {
    margin-top: 2rem;
    width: 80%;
  }
  .tempo-slider {
    width: 80%;
    margin-top: 2rem;
  }

  .controls {
    width: 100%;
  }

  select {
    width: 100%;
    margin: 0;
  }
  .mute {
    width: 100%;
    margin-bottom: 1rem;
  }
}
